<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>FuseFit</title>

    <!-- Bootstrap Core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{{ url_for('static', filename='vendor/magnific-popup/magnific-popup.css') }}" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/creative.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FuseFit</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#upload">upload</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content bg-dark">
            <div class="header-content-inner">
                <h1 id="fittext1">FuseFit</h1>
                <hr>
                <h1 id="homeHeading">Combine TCX to add heart rate</h1>
                <p>Use an activity tracker to add heart rate to a smartphone!</p>
                <a href="#upload" class="btn btn-primary btn-xl page-scroll">Do it!</a>
            </div>
        </div>
    </header>

    <section id="upload">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            <form action="" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Upload Files to Merge!</h2>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <i class="fa fa-5x fa-mobile text-primary sr-icons"></i>
                        <p class="text-muted">Select a TCX file that lacks heart rate data.</p>

                        <!-- https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3 -->
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse&hellip; <input type="file" style="display: none;" name="filewohr">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <i class="fa fa-5x fa-heartbeat text-primary sr-icons"></i>
                        <p class="text-muted">Select a TCX file containing heart rate data!</p>

                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse&hellip; <input type="file" style="display: none;" name="filewhr">
                                </span>
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3><input type="submit" class="btn btn-primary btn-xl" value="Merge"></h3>
                        <hr class="primary">
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section id="main">
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Need some help with this tool or another data-oriented project? Doing something cool that I might be interested in? Send me an email and I'll get back to you.</p>
                    <i class="fa fa-envelope-o fa-4x sr-contact"></i>
                    <p><script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'a'+'i'+'&'+'#'+'1'+'0'+'8'+';'+'&'+'#'+'1'+'1'+'6'+';'+'o'+'&'+'#'+'5'+'8'+';'+'d'+'%'+'6'+'&'+'#'+'4'+'9'+';'+'&'+'#'+'1'+'1'+'8'+';'+'i'+'&'+'#'+'1'+'0'+'0'+';'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'9'+'8'+';'+'r'+'%'+'&'+'#'+'5'+'4'+';'+'1'+'d'+'w'+'a'+'y'+'&'+'#'+'6'+'4'+';'+'g'+'m'+'a'+'i'+'%'+'6'+'C'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'9'+'9'+';'+'&'+'#'+'1'+'1'+'1'+';'+'%'+'6'+'&'+'#'+'6'+'8'+';'+"'"+'>'+'d'+'a'+'v'+'i'+'&'+'#'+'1'+'0'+'0'+';'+'&'+'#'+'4'+'6'+';'+'b'+'r'+'a'+'d'+'&'+'#'+'1'+'1'+'9'+';'+'a'+'y'+'&'+'#'+'6'+'4'+';'+'g'+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'&'+'#'+'4'+'6'+';'+'c'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'1'+'0'+'9'+';'+'<'+'/'+'a'+'>');</script>
                    <noscript>[Turn on JavaScript to see the email address]</noscript></p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>&copy; David Bradway, 2016 - present</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/fittext/jquery.fittext.js') }}"></script>
        <script type="text/javascript">
            $("#fittext1").fitText();
        </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/creative.js') }}"></script>

</body>
</html>
