{% extends "base.html" %}
{% block content %}
                    {% if scroll %}
                    {% endif %}
                    <h2 class="section-heading" id="results">Results!</h2>
                    <hr class="primary">
                    <p>File with merged heart rate: </p>
                    <p><a href="{{ outfilename }}">{{ outfilename }}</a></p>
                    <script>
                        document.getElementById('{{ scroll }}').scrollIntoView(true);
                    </script>
{% endblock %}
